<div class="container-d" style="margin-top: 50px;">
  <div class="div-1">
     <h1 > VCC believes in safeguarding the power <br>
      of human touch & compassion in health care <br>
      in an increasingly digital age.
      </h1>
    </div>
  <div class="div-2 background-white" [ngClass]="{'coloumn-rev': mobileview }" >
    <div class="docdetails" [ngClass]="!mobileview?'':' center'">
      <h1>I believe <br> that a hearty laugh <br> goes a long way…</h1>
      <h2 class="red bold">Dr. Vasudeva Chetty</h2>
      <h3>MD. | DM. | FACC. | REG. NO. : 57617</h3>
      <p> Fellow American College of Cardiology 
        <br>General management in Healthcare (IIM Bangalore) <br>
        Interventional Cardiologist, Ex-assistant Professor SVIMS,Tirupati</p>
        <div class="submit-btn"  [ngClass]="!mobileview?'':'align-center'">
            <button class="mobile-btn-red"  style="background-color: #D92A2A;
            color: #ffffff;">Watch Interview</button>
        </div>

        <h2 routerLink="/bookappointment"> &nbsp; &nbsp; Consult </h2>
    </div>
    <div class="doc-image">
        <img class="img" src="../../../../assets/images/Doc-1.jpg">
    </div>

  </div>
  <div style="padding-left:0;" class="div-2 background-black" [ngClass]="!mobileview?'':'coloumn'">
      <div class="doc-image">
          <img class="img" src="../../../../assets/images/doc-2.jpg"> 

      </div>
      <div class="docdetails " [ngClass]="!mobileview?' right':'center'"> <h1>Personalization <br> in healthcare is something <br>I focus a lot on.</h1>
        <h3 class="bold red">Dr. Sushma Yaram</h3>
        <h2>MDS (PERIODONTIST) <br> REG. NO. : A5988</h2>
        <div class="submit-btn"  [ngClass]="!mobileview?'':'align-center'">
            <button class="mobile-btn-red"  style="background-color: #D92A2A;
            color: #ffffff;"    >Watch Interview</button>
        </div>

        <h2 routerLink="/bookappointment"> &nbsp; &nbsp; Consult </h2>
       
        </div>
        </div>
        <app-address [mobileview]="mobileview" ></app-address>
</div>
