<div class="container">
  <div class="div-1">
     <h2> VCC believes in safeguarding the power of human touch & compassion in health care in an increasingly digital age.
      </h2>
    </div>
  <div class="div-2 background-white">
    <div class="docdetails">
      <h1>I believe <br> that a hearty laugh <br> goes a long way…</h1>
      <h3 class="red">Dr. Vasudeva Chetty</h3>
      <h3>MD. | DM. | FACC. | REG. NO. : 57617</h3>
      <p> Fellow American College of Cardiology 
        <br>General management in Healthcare (IIM Bangalore) <br>
        Interventional Cardiologist, Ex-assistant Professor SVIMS,Tirupati</p>
        <button> Watch Interview</button>
        <h2>Consult ></h2>
    </div>
    <div class="doc-image">
      image
    </div>

  </div>
  <div class="div-2 background-black">
      <div class="doc-image"> image</div>
      <div class="docdetails"> <h1>Personalization <br> in healthcare is something <br>I focus a lot on.</h1>
        <h3>Dr. Sushma Yaram</h3>
        <h3>MDS (PERIODONTIST) <br> REG. NO. : A5988</h3>
       
        </div>
        </div>
</div>
