@import '../../../../../mixin.scss';
@import '../../../../../common.scss';

.interventional-container-background{ 
    background-color: #D92A2A;
    height: auto;

}
.center-content{
    justify-content: center;
}

.interventional-small-container{
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-evenly);
    @include flex(0.7);
}

.inter-header{
    align-items: center;
}

.flex{
    display: flex;
    flex: 1;
}
.dot{
    font-size: 3em; 
    opacity: 30%;
}
.dot-flex{
    display: flex;
    flex-direction: row;
}
.highlight{
    opacity: 100%;
    color: #FFFFFF;
}
.width-wide{
    width: 137%;
    margin-left: -19%;;
}

.white-tab{
    height: 25px;
    background-color: #FFFFFF;
}
.procedure-card {

    @include flexbox;
    @include flex-direction(row);
    @include flex(1);
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
}
.proc-card{
    display: flex;
    flex: 1;
   
}




.mobile-view::-webkit-scrollbar { 
    display: none; 
} 

.div-card{
    @include flexbox;
    @include flex(1);
    font-family: poppins-medium;
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    padding-bottom: 5px;
}

