
<!-- <div class="white-tab" *ngIf="!AnimationCard"></div> -->

<div class="container" [ngClass]="!mobileview?'interventional-container-background':'mobile-container'"  *ngIf="AnimationCard" >
  <div [ngClass]="!mobileview?'interventional-small-container':'mobile-intro-content'">
    <div class="header white" [ngClass]="!mobileview?'':'mobile-red-header'">Services</div>
    <div class="description white" [ngClass]="!mobileview?'half-desc':'full-width'">
      VCC is committed to providing a wide range of top-quality healthcare services that deliver comprehensive care to every patient. 
      </div>
  </div>

  <div  *ngIf="!mobileview"  class="div-card no-margin " >
  <app-procedure-card class="proc-card" *ngFor="let item of animationsArray " [cardData]="item"  [LoadAnimationCard] = "LoadAnimationCArd"></app-procedure-card>
</div>
<div *ngIf="!mobileview"  class="div-card no-margin" >
<app-procedure-card class="proc-card" *ngFor="let item of animationsArray2 " [cardData]="item"  [LoadAnimationCard] = "LoadAnimationCArd"></app-procedure-card>
</div>

<div *ngIf="mobileview"  class="mobile-view">
    <app-mobilecard class="mobile-card"  [cardData]="mobileViewanimationsArray[index]"  (valueClick)="getNext($event,index, mobileViewanimationsArray)" [LoadAnimationCard] = "LoadAnimationCArd"></app-mobilecard>
  </div>
  <span *ngIf="mobileview" class="dot-flex" ><h1 class="dot"    *ngFor= " let item of dotarray let j = index;"  (click)="setService(j)" [ngClass]="{'highlight': index === j ,'Service-card':!mobileview , 'mobile-Service-card': mobileview } ">{{item}}</h1>
  </span>
</div>

<div  *ngIf="!AnimationCard" class="container" [ngClass]="!mobileview?'interventional-container-background':'mobile-container'" >
    <div  [ngClass]="!mobileview?'interventional-small-container':'mobile-intro-content'">
      <div class="header white inter-header" [ngClass]="!mobileview?'':'mobile-red-header'" >Interventional <br>Procedures</div>
      <div class=" white description" [ngClass]="!mobileview?'half-desc':'full-width'">
          With an inherent emphasis on overall clinical excellence VCC strives for utmost patient satisfaction through its modern approach to healthcare.  </div>
    </div>
    <div class="div-card proc-card center-content">
          <div *ngIf="!mobileview" class="flex">
    <app-procedure-card class="flex" *ngFor="let item of MyArrayType " [cardData]="item" [LoadAnimationCard] = "LoadServiceCard" ></app-procedure-card>
  </div>
  <div *ngIf="!mobileview" class="flex">
    <app-procedure-card class="flex" *ngFor="let item of MyArrayType " [cardData]="item" [LoadAnimationCard] = "LoadServiceCard" ></app-procedure-card>
  </div>
</div>
  <div  *ngIf="mobileview" class="mobile-view">
      <app-mobilecard   [cardData]="mobileMyArrayType[index]" (valueClick)="getNext($event, index , mobileMyArrayType)" [LoadAnimationCard] = "LoadServiceCard" ></app-mobilecard>
    </div>
    <span *ngIf="mobileview" class="dot-flex" ><h1 class="dot"    *ngFor= " let item of intdotarray let j = index;"  (click)="setService(j)" [ngClass]="{'highlight': index === j ,'Service-card':!mobileview , 'mobile-Service-card': mobileview } ">{{item}}</h1>
    </span>
  </div>
