@import '../../../../../mixin.scss';
@import '../../../../../common.scss';

.container{
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: auto;
    background-color: #F1F1F1;
    padding: 5% 8%;

}
.col-d{
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: auto;
    background-color: #F1F1F1;
    padding: 5% 8%;

}
.img-animation{
display: flex;
justify-content: center;
align-items: center;
background-color:#F1F1F1;
flex: 1;
}
.img{
    width: 100%;
    margin-bottom: 30px;
}
.align{
    text-align: center;
}

.content{
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #F1F1F1;
    // line-height: 23px;
    @include fluid-type(line-height, 300px, 1920px, 1.4, 1.5);
    // line-height: 1.4;
    flex: 1;

    .heading{
        flex: 1;
        text-align: left;
        font-weight: bolder;
        display: flex;
        align-items: center;
        font-family:  poppins-bold;
        @include fluid-type(font-size, 300px, 1920px, 25px, 70px);
        letter-spacing: 0;
        color: #D92A2A;
        opacity: 1;
    }
    .description{
        justify-content: flex-start;
        font-family: poppins-regular;
        
        @include fluid-type(width, 300px, 1920px, 80%, 60%);
        @include fluid-type(font-size, 300px, 1920px, 16px, 26px);
        letter-spacing: 0;
        color: #000000;
        opacity: 1;
        flex: 2;

    }
}
.mobile-content{
    align-items: center;
    justify-content: space-around;


}