.container{
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;

    height: 550px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    background-color: #F1F1F1;
    padding: 15px;

}
.img-animation{
display: flex;
justify-content: center;
align-items: center;
background-color:#F1F1F1;
flex: 1;
}
.img{
    width: 80%;
    margin-left: 35px;
}

.content{
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #F1F1F1;
    height: 70%;
    line-height: 23px;
    flex: 1;
    padding-top: 100px;

    .heading{
        flex: 1;
        text-align: left;
        font-weight: bolder;
        font-family:  poppins-extrabold;
        font-size: 40px;
        letter-spacing: 0;
        color: #D92A2A;
        opacity: 1;
    }
    .description{
        justify-content: flex-start;
        font-family: poppins-regular;
        width: 70%;
        font-size: 19px;
        letter-spacing: 0;
        color: #000000;
        opacity: 1;
        width: 70%;
        flex: 6;

    }
}