@import '../../../../../src/mixin.scss';
  .container{
    background-color: #D92A2A;
    width: 100vw;
    height: 100vh;
}

.canvas{
    background-color: #D92A2A;
    display: flex;
    position: relative;
    width: 20%;
    flex: 1;
}
.canvas-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.touchhbar{
    display: flex;
    flex: 3;
    flex-direction: column;
}

.text{
    flex: 1;
    position: absolute;
    z-index: 100;
    // top: 35%;
    line-height: 1.1;
    @include fluid-type(top, 1400px, 2000px, 145px, 245px);
    justify-content: center;
    align-items: center;
    // height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.align-center{
    align-items: center;
}
.mob-cont{
    top: 36vh;
   padding: 0 , 40px;
    text-align: center;
    line-height: 1;

}
.main-text{
    display: flex;
    @include fluid-type(font-size, 900px, 1800px, 70px, 100px);
    
    font-family: poppins-extrabold;
    color: white;
    text-align: center;
    font-weight: bolder;

}
.main-text-m{
    display: flex;
    @include fluid-type(font-size, 200px, 900px, 40px, 70px);
 
    font-family: poppins-extrabold;
    color: white;
    text-align: center;
    font-weight: bolder;
    
}

.description-text{
    display: flex;
    @include fluid-type(font-size, 700px, 1920px, 20px, 30px);
    font-family: poppins;
    padding-top: 18px;
    line-height: 1.2;
    padding-bottom: 21px;
    color: white;
    z-index: 100;
    text-align: center;

    height: 56px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    font-family: poppins;
    

}
.width-m{
    width:100%
}
.sub-text{
 
    text-shadow: 0px 0px 80px #d92a2a;
}
.about-container{
    height: 100px;
}
.book-appointment:hover{
            
    transform: scale(1.05);
    
    
}

    
.book-appointment{
    transition: all .2s ease-in-out; 
    border: none;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    padding: 8px;
    font-family: poppins-bold;
    border-radius: 41px;
    box-shadow:  0px 0px 80px #d92a2a;
    letter-spacing: 0;
    background-color: #FFFFFF;
    color: #D92A2A;
    width: auto;
    @include fluid-type(height, 600px, 1920px, 40px, 70px);
    @include fluid-type(font-size, 500px, 1920px, 16px, 22px);
    width: auto;
    padding: 0 20px;
   
    text-align: center;
    opacity: 0.87;
}