<script src='https://gist.github.com/mrdoob/838785/raw/a19a753b441d6ad41707c58f06dbe17f3470423c/RequestAnimationFrame.js'></script>
<script src='https://raw.github.com/mrdoob/stats.js/master/build/stats.min.js'>
</script><script  src="../assets//animation/heartanimation.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<div class="container">

<div  id="canvas-container" class="canvas-container">
<div class="touchhbar">
    <app-heart-animation></app-heart-animation>
    
  <div class="text"> <div class="main-text">WE KEEP YOUR HEART IN SHAPE </div>
  <div class="description-text"> <div class="sub-text">VCC is dedicated to making big impacts through prevention </div>
    <div class="sub-text"> treatment and awareness about cardiac health. </div></div> 
<div class="btn">
  <button class="book-appointment">Book Appointment</button>
</div>
</div>
</div>

</div>
<app-about></app-about>

<!-- <app-interventional-procedures [AnimationCard]="AnimatedCard"></app-interventional-procedures> -->
<app-interventional-procedures [AnimationCard]="AnimatedCard"></app-interventional-procedures>
<app-makeappointment ></app-makeappointment>
<app-interventional-procedures [AnimationCard]="ServiceCard"></app-interventional-procedures>


</div>
<app-header id="header"></app-header>

