@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
  }
  
  @mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
    @each $property in $properties {
      #{$property}: $min-value;
    }
  
    @media screen and (min-width: $min-vw) {
      @each $property in $properties {
        #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
      }
    }
  
    @media screen and (min-width: $max-vw) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
  .container{
    background-color: #D92A2A;
}

.canvas{
    background-color: #D92A2A;
    display: flex;
    position: relative;
    width: 20%;
    flex: 1;
}
.canvas-container{
    display: flex;
    flex-direction: column;
}
.touchhbar{
    display: flex;
    flex: 3;
    flex-direction: column;
}
.text{
    flex: 1;
    position: absolute;
    z-index: 100;
    top: 100px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.main-text{
    display: flex;
    @include fluid-type(font-size, 200px, 1800px, 40px, 100px);
    width: 58%;
    font-family: Poppins;
    color: white;
    text-align: center;
    font-weight: bolder;

}
.description-text{
    display: flex;
    @include fluid-type(font-size, 400px, 1300px, 10px, 20px);
    width: 50%;
    font-family: poppins-regular;
    color: white;
    text-align: center;
    

}
.about-container{
    height: 100px;
}