@import '../../../../../mixin.scss';
@import '../../../../../common.scss';

.healthy-blog-container{
    padding: 5% 8%;
    height: auto;
    background-color:white;

}

.intro-content{
display: flex;
flex:2;
flex-direction: column;
justify-content: space-evenly;
// align-items: center;

}
.card-data{
    display: flex;
    flex-direction: column;
}

// .description{
//     width: 50%;
//     justify-content: center;
//     font-family: poppins-regular;
//     font-size: 100%;
//     letter-spacing: 0;
//     color: #000000;
//     opacity: 1;


// }
.procedure-card{
    display: flex;
    flex:1;
    outline: none;
    cursor: pointer;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.dot{
    font-size: 3em; 
    opacity: 30%;
}
.dot-flex{
    display: flex;
    flex-direction: row;
}
.highlight{
    opacity: 100%;
    color:  #D92A2A;
}
// .div-card{
//     display: flex;
//     flex: 2;
//     font-family: poppins;
//     flex-wrap: wrap;
//     flex-direction: row;
//     justify-content: flex-start;
// }

