<div  class="healthy-blog-container" [ngClass]="!mobileview?'container':'mobile-container'" >
  <div class="intro-content" [ngClass]="!mobileview?'':'mobile-intro-content'">
    <div class="header" [ngClass]="!mobileview?'':'mobile-red-header'">Get healthy</div>
    <div class="black description" [ngClass]="!mobileview?'half-desc':'full-width'">
        8 in 10 cases of premature heart disease and stroke cases are preventable through healthy lifestyle behaviours. Learn more about how to live a healthier lifestyle. You’ll find help here. </div>
    </div>
    <div class="card-data">
<div  *ngIf="!mobileview" class="div-card" >
<app-blog-card class="procedure-card" [routerLink]="['/GetHealthy', item.index]" *ngFor="let item of BlogArray1 let j = index; " [cardData]="item"  [LoadAnimationCard] = "LoadAnimationCArd"></app-blog-card>
</div>
<div  *ngIf="!mobileview" class="div-card" >
  <app-blog-card class="procedure-card" [routerLink]="['/GetHealthy',item.index]" *ngFor="let item of BlogArray2 let t = index;" [cardData]="item"  [LoadAnimationCard] = "LoadAnimationCArd"></app-blog-card>
   </div>
   <div *ngIf="mobileview" class="mobile-view">
      <app-blog-card  (valueClick)= "getNext($event,index, BlogArray)" [routerLink]="['/GetHealthy', index]" [cardData]="BlogArray[index]" [mobileview] = "mobileview" [LoadAnimationCard] = "LoadAnimationCArd" ></app-blog-card>
    </div>
   
  </div>
  <span *ngIf="mobileview" class="dot-flex" ><h1 class="dot"    *ngFor= " let item of dotarray let j = index;"  (click)="setService(j)" [ngClass]="{'highlight': index === j ,'Service-card':!mobileview , 'mobile-Service-card': mobileview } ">{{item}}</h1>
  </span>
 
</div>