<div id="main-container" class="main-container">


<div class="container background" >
    
  <br>
  <br>
  <br>
  <br>
  <div  id="bookapointment"  [ngClass]="!mobileview?'intro-content':'mobile-intro-content'">
    <div class="header mobile-red-header" *ngIf="mobileview">Book an <br> appointment</div>
    <div class="header flex-0" *ngIf="!mobileview" >Book an <br> Appointment</div>
    <div>    <p  [ngClass]="!mobileview?'description':'mobile-description'">
      Fill in the form below to request an appointment with us and our representative will get in touch with you shortly.</p>
      <p [ngClass]="!mobileview?'description':'mobile-description'">
        If you are having an emergency, please call 102 or our emergency unit at +91 9347 830 894 | 0877 -2272666 immediately.  
      </p>
    </div>

  
      <div [ngClass]="!mobileview?'service-list':'mobile-service-list full-width'" >
  <div class="heading" > SELECT SERVICE </div>
  <div   [ngClass]="!mobileview?'Service-cards':'mobile-card full-width' " > 
    <div style="cursor: pointer;"  *ngFor= " let item of serviceArray let j = index;"  (click)="setService(j)" [ngClass]="{'highlight': selectedIndexj === j ,'Service-card':!mobileview , 'mobile-Service-card': mobileview } ">{{item}}</div>
  </div>
</div>
  </div>

<div class="heading extra-pad" [ngClass]="!mobileview?'':'center-header'"> SELECT DATE & TIME </div>
<div class="date-picker" [ngClass]="!mobileview?'desktop-card':'mobile-card'">
  
  
  <owl-date-time-inline  [hideOtherMonths] = "true" [ngClass]="!mobileview?'desktop-header-bl':'mobile-header-bl center-header'" class=" header-bl, position-fix, user-css-class , position-fix, arrow-hide , header-color , header-bl" [min]="min"  
  
  [pickerType]="'calendar'" (ngModelChange)="getdateValue($event)"  [(ngModel)]="dateTimeRange" ></owl-date-time-inline>

  <div class="time-panel" [ngClass]="!mobileview?'margin-left':'center-header'">
  <div class="black-header">TIME</div>
  <div class="time-selector" >
  <app-timepicker class="timing-set " *ngFor= " let item of timeArray let i = index;"  (click)="setRow(i)" (valueClick)="getvalue($event)"  [ngClass]="{'highlight': selectedIndex === i , 'disable':  'dateTimeRange.toDateString()' }" [timeArray]="item" ></app-timepicker>
</div>
<!-- <div class="time-selector" >
  <app-timepicker class="timing-set " *ngFor= " let item of timeArray1 let i = index;" (click)="setRow(i)" (valueClick)="getvalue($event)"  [ngClass]="{'highlight': selectedIndex === i}" [timeArray]="item" ></app-timepicker>
</div> -->
</div>
</div>
<div class="heading" [ngClass]="!mobileview?'':'center-header'"> PATIENT DETAILS </div>

<div class="input-form">
    <!-- <input  [(ngModel)]="fullName" id="fullName" name="fullName" placeholder="Full NAme">
    <input  [(ngModel)]="mobileNumber" id="mobileNumber" name="mobileNumber" placeholder="Phone Number">
    <input  [(ngModel)]="age" id="age" name="age" placeholder="Age"> -->

    <form [formGroup]="contactForm" class="profile-form" (ngSubmit)="onSubmit()" [ngClass]="!mobileview?'':'full-w-n'"> 
  
      
        <div class="text-div" [ngClass]="!mobileview?'':'full-w'">
            <input class="text-box" [ngClass]="!mobileview?'':'full-w-t'" type="text" formControlName="fullName" placeholder="Full Name" required>
            <div 
                 class="alert alert-danger">

                 <div style="font-family: poppins-regular;" *ngIf=" f.fullName.invalid && f.fullName.errors.required && (f.fullName.dirty || f.fullName.touched)">
                    Name is required.
                </div>
                </div>
            </div>
            <div class="text-div">
                <input class="text-box" type="text" [ngClass]="!mobileview?'':'full-w-t'" formControlName="mobileNumber" placeholder="Phone Number" required>
                <div 
                class="alert alert-danger">
        
                <div style="font-family: poppins-regular;" *ngIf=" f.mobileNumber.invalid && f.mobileNumber.errors.required && (f.mobileNumber.dirty || f.mobileNumber.touched)">
                   Phone Number is required.
               </div>
               <br>
               <div style="font-family: poppins-regular;" *ngIf=" f.mobileNumber.invalid && f.mobileNumber.errors.pattern && (f.mobileNumber.dirty || f.mobileNumber.touched)">
                   Enter valid 10 digit Phone Number 
               </div>
               <br>
               <div style="font-family: poppins-regular;" *ngIf=" f.mobileNumber.invalid && f.mobileNumber.errors.maxlength && (f.mobileNumber.dirty || f.mobileNumber.touched)">
                   Phone number is not valid .
               </div>
                    </div>
                </div>
                <div class="text-div">
                    <input class="text-box" type="text" [ngClass]="!mobileview?'':'full-w-t'" formControlName="age" placeholder="Age" required>
                    <div 
                         class="alert alert-danger">
        
                         <div style="font-family: poppins-regular;" *ngIf=" f.age.invalid && f.age.errors.required && (f.age.dirty || f.age.touched)">
                            Age is required.
                        </div>
                        <br>
                        <div style="font-family: poppins-regular;" *ngIf=" f.age.invalid && f.age.errors.pattern && (f.age.dirty || f.age.touched)">
                            Enter valid age in number
                        </div>
                        <br>
                        <div style="font-family: poppins-regular;" *ngIf=" f.age.invalid && f.age.errors.maxlength && (f.age.dirty || f.age.touched)">
                            Age is not valid .
                        </div>
                        </div>
                    </div>

         
      <div class="submit-btn">
        <div style="text-align: center;">
        <button class="btn" [ngClass]="(contactForm.valid)?'enabled mobile-btn':'disabled mobile-btn'" [disabled]="!contactForm.valid" type="submit" >Confirm</button>
        <p style="font-family: poppins-regular;" *ngIf="valid">
           please select all the fields
      </p>
    </div>
      </div>
        
    </form>
  </div>
  
</div>
<img *ngIf ="mobileview" style="width: 100%;" src=" ../../../../../../../assets/images/bookappointment(1).svg">
<app-contactus id="contact_us"  [mobileview]="mobileview"></app-contactus>
<app-address class="address-bar" [mobileview]="mobileview"></app-address>

</div>
 

