@import '../../../mixin.scss';
@import '../../../common.scss';
  .service-card{
    outline: none;
    margin-bottom: 30px;
    font-size: 30px;
    flex: 1;
  }
  h1{
    margin: 0;
    margin-bottom: 25px;
    margin-top: 10px;
  }
  .highlight{
    color: black;
  }
  .margin{
    padding-right: 20px;
  }
  a{
    color: #FFFFFF;
    text-decoration: none;
  }
  .display{
    @include flexbox;
    @include flex-direction(column);
  }
  .container-mobile{
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between);
    width: 100vw;
 
    top: 0px;
    height: 75px;
    background-color: #D92A2A;
    padding: 0.7% 0px;
    line-height: 1.5;
    z-index: 1010;
    position: fixed;
    opacity: 1;

  }
  .logo-m{
    @include flexbox;
    outline: none;
        transition: all .8s ease-in-out; 

        @include justify-content(space-between);
        padding: 2% 2%;
        -webkit-box-flex: .5;
        

  }
  p{
    font-family: poppins-regular;
    text-align: center;
    margin-bottom: 20px;

  }
  .right-bar-m{
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    @include flex(1);
    background-color: #D92A2A;
    font-family: poppins;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
  }
  .container{
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    width: 100vw;
    top: 0px;
    background-color: #D92A2A;
    padding: 0.7% 0px;
    height: 90px;
    z-index: 1010;
    position: fixed;
    opacity: 1;

    .logo{
        display: flex;
        outline: none;
        transition: all .8s ease-in-out; 
        @include fluid-type(height, 200px, 1920px, 40px,78px);
        justify-content: center;
        -webkit-box-flex: .5;
        width: 22%;
    }
 
    .right-bar{
      width: 60%;
      
      @include flexbox;
      @include flex-direction(row);
      @include justify-content(space-evenly);
      @include align-items(center);
  

        .nav-option{
          cursor: pointer;

          transition: all .4s ease-in-out; 
            outline: none;
            @include fluid-type(font-size, 200px, 1920px, 7px,28px);

            text-decoration: none;
            font-family: Helvetica;
            letter-spacing: 0;
            font-weight: 100;
            color: #FFFFFF;
            opacity: 1;
        }
    }
    // .logo:hover{
    //   transform: rotate(360deg);
    // }

    .nav-option:hover{
            
      transform: scale(1.1);
      font-weight: 800;
  }
}