@import '../../../../../mixin.scss';



  
  .container{
    background-color: #fbfbfb;
    display: flex;
    width: 245px;
    height: 245px;
    margin: 1px;
    margin-left: 5px;
    padding: 5px;
    box-shadow: 0px 0px 6px #00000029;
    // @include fluid-type(max-height, 300px, 1000px, 100px, 235px);
    flex-direction: column;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.header{
text-align: center;
@include fluid-type(font-size, 300px, 800px, 22px, 22px);
letter-spacing: 0;
width: 100%;
margin-top:-10px;
font-family: poppins-bold;
color: #D60F1B;
text-transform: uppercase;
opacity: 1;
}
.description{
    width: 100%;
    margin-top: -10px;
    font-family: poppins-regular;
    text-align: center;
    line-height: 1.4;
    @include fluid-type(font-size, 300px, 800px, 14px, 14px);


}
.img{
  
  @include fluid-type(width, 300px, 700px, 45%, 55%);
  @include fluid-type(height, 300px, 700px, 45%, 55%);
  display: flex;
  align-items: center;
}
.btn-mobile{
    text-align: center;
    background-color: #D60F1B;
    border-radius: 59px;
    border: none;
    @include fluid-type(font-size, 300px, 700px, 18px, 24px);
    @include fluid-type(height, 400px, 600px, 38px, 40px);
    @include fluid-type(width, 400px, 600px, 140px, 140px);
    color: white;
    
}