<div id="containe" class="container">

  <div class="full-card">

  <div class="container-change" *ngIf="showData =='mainpage'">
      <div class="header">
          <h1 class="title" style="font-family: poppins-bold;">Get Healthy</h1>
            </div>
  <div class="card-2 white" [ngClass]="!mobileview?'desktop-row':'mobile-card-2'">
    <div class="card-2-1" style="padding: 0% 8%;">
      <h1 *ngIf ="!mobileview" class="bold"  style="font-size: 4em;">Prevention  <br>is key</h1>
      <h1 *ngIf ="mobileview" class="bold"  style="font-size: 2em; text-align: center;">Prevention  is key</h1>
      <h4 [ngClass]="{'small': mobileview }" style="margin: 0;">Learn more about how to live<br> a healthier lifestyle. You’ll find help here.</h4>

    </div>
    <div class="card-2-1" style="padding: 0% 8%;"> 
     
      <h1 *ngIf ="!mobileview" class="bold red"  style="font-size: 4em;">8 in 10 <br> Cases</h1>
      <h1 *ngIf ="mobileview" class="bold red"  style="font-size: 2em; text-align: center;">8 in 10 Cases</h1>
      <h4 [ngClass]="{'small': mobileview }"  style=" margin-top:0; margin-bottom: 6%;">of premature heart disease and stroke <br> cases are preventable through healthy <br>lifestyle behaviours.</h4>

      
      </div>

  </div>
  <div class="card-1 padding-bar-d" [ngClass]="!mobileview?'':'align-center'">
      <h1 *ngIf ="!mobileview" class="bold"  style="font-size: 4em;
      line-height: 1.4;     line-height: 1.2;
    padding: 5% 0 0 0;" >Make healthy <br>lifestyle choices.</h1>
      <h1 *ngIf ="mobileview" class="bold"  style="font-size: 2em; text-align: center; padding-top: 22px;">Make healthy <br>lifestyle choices.</h1>
      <h4 [ngClass]="{'small': mobileview }" style="padding-bottom: 5%;">Many risk factors for heart disease and stroke are in your power to control.<br> Explore our heart-healthy tips on diet, exercise, stress and more.</h4>

  </div>
</div>
<div class="container-change" *ngIf="showData =='eatwell'">
    <div class="header">
        <h1 *ngIf ="!mobileview" style=" font-size: 2em;
        margin-top: 88px; line-height:1.2; font-family: poppins-bold">Get Healthy / EAT WELL</h1>
        <h1 *ngIf ="mobileview" style="font-size: 1.3em; line-height:1.2; font-family: poppins-bold">Get Healthy / <br>    EAT WELL</h1>
          </div>
    <div class="card-1">
        <img  *ngIf ="!mobileview" class="img-eat" src="../../../../../assets/images/eating.jpg">
        <img *ngIf ="mobileview" class="img-eat" src="../../../../../assets/mobile-images/eat-well-mobile cover.jpg">
        
    </div>
    <div class="padding-bar">
      <p>Eating a healthy, balanced diet is one of the most important things you can <br>
         do to protect your health. In fact, up to 80% of premature heart disease <br>
         and stroke can be prevented through your life choices and habits, such as<br>
          eating a healthy diet and being physically active.<br><br><br>
           A healthy diet can help lower your risk of heart disease and stroke by: <br>
            • improving your cholesterol levels  <br>
            • reducing your blood pressure <br>
            • helping you manage your body weight <br>
             • controlling your blood sugar.
            </p> 
            <br>
        <h2 [ngClass]="{'small-h2': mobileview }" >  What does a healthy, balanced diet look like?</h2>
        <p>Our dietician recommends eating a variety of healthy foods each day.<br>
           This includes eating plant-based foods more often and choosing <br>
           highly-processed or ultra-processed foods less often.</p>
           <br>
           <div style="text-align: center">
           <img   [ngClass]="!mobileview?'width-desk':'full-w'"  src="../../../../../assets/images/healthy-diet.jpg">
          </div>
        <h2>  1. Eating lots of vegetables and fruit </h2>
        <p> • This is one of the most important diet habits. Vegetables and fruit are packed with <br>
           nutrients (antioxidants, vitamins, minerals and fibre) and help you maintain a <br>
            healthy weight by keeping you full longer.<br>
             • Fill half your plate with vegetables and fruit at every meal and snack.
            </p>
            <h2>2. Choosing whole grain foods</h2>
        <p>
           • Whole grain foods include whole grain bread and crackers, brown or wild rice quinoa, oatmeal and hulled barley. They are prepared using the entire grain. Whole grain foods have fibre, protein and B vitamins to help you stay healthy and full longer. <br>
          • Choose whole grain options instead of processed or refined grains like white bread and noodles. <br>• Fill a quarter of your plate with whole grain foods</p>
<br>
  <h2>3. Eating protein foods  </h2>
  <p>• Protein foods include legumes, nuts, seeds, tofu, fortified soy beverage, fish, shellfish<br>
     eggs, poultry, lean red meats including wild game, lower fat milk, lower fat yogurts <br>
     lower fat kefir and cheeses lower in fat and sodium.<br>
      • Protein helps build and maintain bones, muscles and skin.<br>
       • Eat protein every day.<br>
        • Try to eat at least two servings of fish each week, and choose plant-based foods<br>
         more often.<br>
         • Dairy products are a great source of protein. Choose lower fat, unflavoured options.<br>
          • Fill a quarter of your plate with protein foods.</p>
          <br>
    <h2> 4. Limiting highly and ultra-processed foods </h2>
    <p>• Highly processed foods — often called ultra-processed — are foods that are <br>
      changed from their original food source and have many added ingredients.<br>
       During processing, often important nutrients such as vitamins, minerals and fiber <br>
       are removed while salt and sugar are added. Examples of processed food <br>
       include: fast foods, hot dogs, chips, cookies, frozen pizzas, deli meats, white rice<br>
        and white bread.<br>
         • Some minimally processed foods are okay. These are foods that are slightly <br>
         changed in some way but contain few industrially made additives. Minimally <br>
         processed foods keep almost all of their essential nutrients.<br>
          Some examples are: bagged salad, frozen vegetables and fruit, eggs, milk, cheese <br>
          flour, brown rice, oil and dried herbs. We are not referring to these minimally<br>
           processed foods when we are advising you not to eat processed foods.</p>
           <br>
<h2>5. Making water your drink of choice </h2>
<p>• Water supports health and promotes hydration without adding calories to the diet.<br>
   • Sugary drinks including energy drinks, fruit drinks, 100% fruit juice, soft drinks and <br>
    flavored coffees have lots of sugar and little to no nutritional value. It is easy to <br>
    drink empty calories without realizing, and this leads to weight gain.<br>
    • Avoid fruit juice, even when it is 100% fruit juice. Although fruit juice has some of the <br>
     benefits of the fruit (vitamins, minerals), it has more sugar than the fruit and less <br>
     fiber. Fruit juice should not be consumed as alternative to fruits.You should eat fruits<br>
       not drink them.<br>
        • When safe drinking water is not available, quench your thirst with coffee, tea<br>
         unsweetened lower-fat milk, and previously boiled water.</p>
         <br>

  <h2>Top 5 tips from the experts</h2>
  <div class="separate-header">
  <h1 class="left-head">1</h1> <p class="right-head">Prepare most of your meals at home using whole or minimally processed <br>
     foods. Choose from a variety of different proteins to keep things interesting.<br>
      Using catchy names for each day can help you plan.</p></div>
      <div class="separate-header">
          <h1 class="left-head">2</h1> <p class="right-head">  Make an eating plan each week – this is the key to fast, easy meal preparation.</p>
      </div>
          <div class="separate-header">
              <h1 class="left-head">3</h1> <p class="right-head"> Choose recipes with plenty of vegetables and fruit. Your goal is to fill half <br>
         your plate with vegetables and fruit at every meal. Choose brightly coloured<br>
          fruits and vegetables each day, especially orange and dark green <br>
          vegetables. Frozen or canned unsweetened fruits and vegetables are a <br> perfect alternative to fresh produce.</p>
        </div>
           <div class="separate-header">
              <h1 class="left-head">4</h1> <p class="right-head">
           Avoid sugary drinks and instead drink water. Lower-fat, unsweetened milk is <br>
         also a good way to stay hydrated. Keep a reusable water bottle in your purse <br>
         or car so you can fill up wherever you are going.</p></div>
         <div class="separate-header">
            <h1 class="left-head">5</h1> <p class="right-head"> Eat smaller meals more often. Eat at least three meals a day with snacks in <br>
       between. When you wait too long to eat you are more likely to make <br>
       unhealthy food choices. Keep easy-to-eat healthy snacks in your purse <br>
       or bag for emergencies.</p></div>

       <h1 [ngClass]="{'small': mobileview }"  class=" padd" ><span [ngClass]="{'small': mobileview }"  style="color: red; font-size: 1.6em; font-family: poppins-bold">Life .</span>  We don’t want you to miss it.</h1>
      </div>
  </div>
  <div class="container-change" *ngIf="showData =='physicalactivity'">
      <div class="header">

          <h1 *ngIf ="!mobileview" style=" font-size: 2em;
        margin-top: 88px; line-height:1.2; font-family: poppins-bold">Get Healthy / GET MOVING</h1>
        <h1 *ngIf ="mobileview" style="font-size: 1.3em; line-height:1.2; font-family: poppins-bold">Get Healthy / <br>GET MOVING</h1>
            </div>
      <div class="card-1">
          <img *ngIf ="!mobileview" class="img-eat" src="../../../../../assets/images/stay.jpg">
          <img *ngIf ="mobileview" class="img-eat" src="../../../../../assets/mobile-images/get-moving-mobile cover.jpg">
          
      </div>
      <div class="padding-bar" >
       <h2>The benefits of physical activity</h2>
       <p>Physical activity can be a lifesaver – literally.</p>
        <h2 class="red" style="font-size: 2.1em">Everyone needs activity</h2>
        <p> It’s always a good idea to add physical activity to your life, regardless of your age.<br>
           Physical activity can:<br>
          <br>
          • dramatically lower your risk of heart disease and stroke <br>
           • help prevent and control risk factors such as:<br> &nbsp;
           &nbsp; &nbsp;high blood pressure <br>&nbsp;
           &nbsp; &nbsp;high cholesterol<br>&nbsp;
           &nbsp; &nbsp; type 2 diabetes<br>&nbsp;
           &nbsp; &nbsp; osteoporosis <br>&nbsp;
           &nbsp; &nbsp;  certain types of cancer obesity <br>
           • reduce stress levels<br>
           • increase energy<br>
           • improve sleep<br>
           • improve digestion
            <br>
            <br>
            You may see benefits within the first week of regular activity. For example, your <br>
            blood pressure may improve and you could start to feel more energetic and relaxed.<br>
             After three months, you may experience better health, improved posture and<br>
              balance, stronger muscles and bones, more confidence and a<br>
               more positive outlook on life.<br>
               <br>
                Because physical activity makes you feel better about yourself, you’re more likely <br>
                to make healthy lifestyle choices and avoid unhealthy ones such as smoking <br>
                overeating or drinking too much alcohol.<br>
                <br>
                 Inactivity, on the other hand, is linked to a higher risk of heart disease, stroke and<br>
                  the many disabilities they can cause. In addition, lack of activity <br>
                  may increase your risk for:<br>
                   • high blood pressure<br>
                    • high cholesterol <br>
                    • type 2 diabetes<br>
                     • osteoporosis <br>
                     • certain types of cancer <br>
                     • obesity <br>
                     • falls and injuries <br>
                     • depression <br>

                     Almost everyone can benefit from active living. If you have arthritis or osteoporosis <br>
                     physical activity is extremely important to keep you mobile.<br>
                      If you’ve already had a heart attack, becoming active may help to prevent another <br>
                      one. And people over 65 with poor mobility who engage in muscle and bone<br>
                       strengthening activities can enhance their balance and prevent falls.<br>
                        NOTE: Before starting a physical activity program, speak to your healthcare provider<br>
                         first to discuss what is right for you.
                         </p>
      
                         <h1 [ngClass]="{'small': mobileview }" class=" padd"  ><span [ngClass]="{'small': mobileview }"  style="color: red; font-size: 1.6em; font-family: poppins-bold">Life .</span>  We don’t want you to miss it.</h1>
   
      </div>
      </div>
      <div class="container-change" *ngIf="showData =='healthyweight'">
          <div class="header">
            <h1 *ngIf ="!mobileview" style=" font-size: 2em;
            margin-top: 88px; line-height:1.2; font-family: poppins-bold">Get Healthy / MAINTAIN A HEALTHY WEIGHT</h1>
            <h1 *ngIf ="mobileview" style="font-size: 1.3em; line-height:1.2; font-family: poppins-bold">Get Healthy / <br> MAINTAIN A HEALTHY WEIGHT</h1>
                </div>
          
          <div class="card-1">
              <img *ngIf ="!mobileview" class="img-eat" src="../../../../../assets/images/weight.jpg">
              <img *ngIf ="mobileview" class="img-eat" src="../../../../../assets/mobile-images/maintain-weight-mobile-cover.jpg">
          </div>
          <div class="padding-bar" >
           <h2>Achieving and maintaining a healthy weight</h2>
           <p>Managing your weight doesn’t have to mean altering your life dramatically.<br>
             Take small steps, aim modestly and realistically, and then build from there. A small<br>
              steady weight loss of ½ to 1 Kg (one or two pounds) a week is much easier to attain<br>
               and healthier for your heart than a larger drop. Research also shows that <br>
               you’ll be much more likely to keep it off.</p>
            <h2>What to eat</h2>
            <p>more vegetables and fruit. Aim to fill half your plate to vegetables and fruit at <br>
              every meal and snack. Switch to whole-grain breads and cereals whenever  <br>
              possible to help you feel full.<br>
              <br>
               Choose protein from a variety of food sources such as beans and lentils <br>
                nuts and seeds, lower-fat milk, yoghurt and cheese, lean meats, poultry and fish.<br>
                <br>
                 Choose a wide variety of healthy foods such as colourful red peppers and dark <br>
                  green leafy lettuce, whole-grain bread, legumes, beans, tofu, lower-fat milk <br>
                  lean meat, and nuts (in moderation), to nourish your body with essential nutrients.
                  <br><br>
                   Read the Nutrition Facts table on all food labels to assess the amount of calories <br>
                    saturated fats, sugar and salt a product may contain. Also look at the <br>
                     Nutrition Fact table for the inclusion of healthy nutrients such as protein, fibre  <br>
                     vitamins A and C, iron and calcium. 
                     <br> <br>
                     Avoid highly processed foods which are a major source of saturated fat, sugar and  <br>
                     sodium. Highly processed foods have many ingredients, are usually in a package <br>
                      and need little preparation. These foods include: <br>
                      • Processed meats (eg. Hot dogs, burgers, deli meats) <br>
                       • Fried foods (eg. French fries, onion rings) <br>
                       • Frozen meals (eg. pizza, pasta side dishes) <br>
                       • Snack foods (eg. chips, crackers, donuts, cookies).</p>
      <h2>What to drink</h2>
      <p> • Drink lots of water throughout the day. <br>
        • Choose plain lower-fat milk (skim, 1%).<br>
         • Avoid pop, sugary drinks, fruit juice and alcohol. </p>
         <h2> How much to eat</h2><p>
         • Make portions a reasonable size – avoid supersized portions and second helpings.<br>
          • Use smaller plates, bowls and cups.<br>
           • Fill up half of your plate with vegetables and fruit, then a quarter with whole grains <br>
            and the last quarter with protein foods. </p>
            <h2>When to eat</h2>
            <p>
           • Eat three meals and two healthy snacks a day, at regularly spaced intervals. <br>
           • Make sure you eat breakfast. People who eat breakfast tend to maintain a healthy weight. <br> </p>
           <h2>How to eat</h2>
           <p>
            • Eat slowly, enjoying the flavours and textures.<br>
             • Make mealtime a social activity with family and friends, which may prevent bingeing.<br>
              • Avoid unconscious eating at your desk, in your car or in front of the TV.</p>
              <h2>Be physically active</h2>
              <p>
                Adults (18 to 64 years of age) and older adults (65 and older) should aim for 150 minutes<br>
                 of moderate to vigorous intensity physical activity per week. 
                 <br><br>
                  Just 30 minutes a day of moderate activity, such as a brisk walk, most days of the week <br>
                   not only helps you lose weight, but is also a key factor in keeping it off over the long term. 
                   <br>
                   <br>
                   It is recommend that adults 18 to 65 and older get at least 150 minutes of moderate  <br>
                   to vigorous physical activity per week. Try using a pedometer to motivate you to be <br>
                    active every day by tracking your steps.</p>
                     <h2>Healthy waist</h2>
                     <p>
                    Measuring waist circumference can help to assess obesity-related health risk.<br>
                      Even at a healthy weight, excess fat carried around the waist can increase your risk<br>
                       of high blood pressure, high [blood] cholesterol, heart disease and type-2 diabetes.<br>
                        The best way to find out if your waistline is increasing your risk of heart disease is to <br>
                        measure it. Learn more about Healthy weight and waists.</p>
                        <h1 [ngClass]="{'small': mobileview }" class=" padd"  ><span [ngClass]="{'small': mobileview }"  style="color: red; font-size: 1.6em; font-family: poppins-bold">Life .</span>  We don’t want you to miss it.</h1>
   
          </div>
          </div>

          <div class="container-change" *ngIf="showData =='stresshandle'">
              <div class="header">
                <h1 *ngIf ="!mobileview" style=" font-size: 2em;
                margin-top: 88px; line-height:1.2; font-family: poppins-bold">Get Healthy / MANAGE YOUR STRESS</h1>
                <h1 *ngIf ="mobileview" style="font-size: 1.3em; line-height:1.2; font-family: poppins-bold">Get Healthy / <br>MANAGE YOUR STRESS</h1>
                
                    </div>
              <div class="card-1">
                  <img *ngIf ="!mobileview" class="img-eat" src="../../../../../assets/images/stress.jpg">
                  <img *ngIf ="mobileview" class="img-eat" src="../../../../../assets/mobile-images/stress mobile cover.jpg">
              </div>
              <div class="padding-bar">
               <h2>Recognizing and handling stress</h2>
               <p>Stress is a part of life for just about everyone. Sometimes it is not easy to recognize<br>
                 stress because we are caught up in the flow of life. The things in your life that cause<br>
                  you stress are called stressors.<br>
                   Often, stressors are things you cannot control. These could be events (like losing a job)<br>
                    or conditions in your life (like not getting along with a family member).<br>
                     Your responses to these stressors are your stress reactions. These are different for <br>
                     all of us. For example, if you hate your job, losing it can make you feel free.<br>
                      For someone else, losing a job may be terrible. <br>
                      Although stress happens first in the mind, it has strong effects on the body. Stress<br>
                       can damage your heart health. Sudden intense stress increases the short-term<br>
                        risk of heart attack. Too much stress over a long time (months to years) is called <br>
                        chronic stress. It can also increase the risk of coronary artery disease.</p>
                <h2>Recognizing your stress reactions </h2>
                <p>Everyone has his or her own individual stress reactions. Think for a moment about <br>
                  when you are stressed out or upset. What happens to you? </p>
                  <h3  class="red small-head">• Thoughts:</h3>
                  <p>
                   Do you have trouble concentrating?<br>
                    Do your thoughts race, or freeze up?<br>
                     Do you start to think “the worst”?<br>
                      Are you more likely to see yourself, your future or other people negatively?<br></p>
                      <h3  class="red small-head">• Emotions:</h3>
                       <p>
                        Does stress lead you to have angry, anxious or sad feelings? </p>
                        <h3  class="red small-head">• Body:</h3>
                         <p>How do you feel physically?<br>
                         
                          What happens to your breathing? <br>
                          Are your muscles tighter?<br>
                           Does that create pain anywhere, like headache, back or jaw pain?<br>
                            Does it make you tired? <br>
                            What happens to your sleeping patterns? How does your stomach feel? <br>
                            Do you sweat, have dry mouth, diarrhea or constipation?<br>
                             What happens to your heart rate?<br>
                              If you measured your blood pressure, what would you see? <br>
                              Are you aware of anything else physical?<br>
                            </p>

                            <h3  class="red small-head">• Behaviour and actions:</h3>
                               <p>
                                How do your habits and behaviours change?<br>
                                 Do you eat more or have more junk food and sugary drinks?<br>
                                  Do you stop exercising?<br>
                                   Do you start smoking? <br>
                                   Drink more alcohol, use prescription or non-prescription drugs?<br>
                                    Do you become nervous or keep to yourself? <br>
                                    Is there anything else you notice?<br>
                                     All these signs point to something real that you can feel:<br>
                                      your mind and body are connected. Stress happens first in the mind, but has effects<br>
                                       all through the body, including, of course, the heart and circulatory system.
                        </p>

          <h2>How can I manage stress?</h2>
          <p>  It may be possible to change or remove the stressor – for example, you may be able <br>
             to change your job, your work schedule, avoid difficult people or unpleasant situations.<br>
              But in many cases removing the stressor is not possible. In this situation, you need to <br>
               change your stress reaction. Here are some strategies to help you:<br>
                Mental responses: <br>
                • You cannot control all parts of your life, but you can control <br>
                your response to stress and keep a positive attitude. Identify your “thought habits” <br>
                 that can make stress worse (most of us have a least one). Here are a few examples:<br>
                • Deciding right away that it is going to be really bad, without even looking closely <br>
                 at the facts Looking only at the bad parts and not seeing the good. Worrying about <br>
                 problems that are really not yours.<br>
                  Emotional responses: <br>
                  • Figure out your emotional reactions to stress and talk about them.<br>
                   Physical responses:<br>
                    • Try deep breathing and relaxation exercises.<br>
                     Behavioural responses:<br>
                      • Decide what you can change about the stressor – for example, you may be able<br>
                       to change your job, your work schedule, avoid difficult people or unpleasant situations.<br>
                         Take action and do it. Keep up your healthy habits. Spend time with friends and family. </p>
                         <img class="img-eat" src="../../../../../assets/images/Group 4399.svg">
                         <h2>What else can I do to have less stress in my life?</h2>
                         <p> • Take care of your health and lifestyle.
                           <br>
                            • Learn about coronary artery disease and its treatments.<br>
                             • Do what your healthcare team suggests.<br>
                              • Follow a healthy, balanced way of eating.<br>
                               • Watch how much alcohol you drink.<br>
                                • Cut down or stop the use of stimulants such as coffee, tea, chocolate, soft drinks<br>
                                 and energy drinks.<br>
                                 • Get enough sleep.<br>
                                  • Exercise regularly and be physically active.<br>
                                   • Quit smoking. <br>
                                   • Learn to relax and take care of yourself. <br>
                                   • Make sure you have enough rest. <br>
                                   • Take time for relaxation and vacations.<br>
                                    • Practice deep breathing and relaxation exercises, meditation or yoga.<br>
                                     • Laugh and use your sense of humour.<br>
                                      • Make sure you have time for fun by doing things that you enjoy with your family <br>
                                      and friends. Change the way you think and act. <br>
                                      • Do only one task at a time instead of multitasking.<br>
                                      • Set goals you know are reachable to avoid feelings of frustration and failure.<br>
                                        • Decide what it is important for you to do and don’t try to do more.<br>
                                         • Learn to say no and get other people to help.<br>
                                          • Talk about your needs and emotions. Let yourself cry.<br>
                                           • Don’t get upset about things you cannot control. Let them go.
             </p>
             <h1 [ngClass]="{'small': mobileview }"  class=" padd"  ><span [ngClass]="{'small': mobileview }"  style="color: red; font-size: 1.6em; font-family: poppins-bold">Life .</span>  We don’t want you to miss it.</h1>
   
              </div>
  </div>
  <div class="blog-maps" style="padding-top: 100px;">
      <span class="card-2 pad" [ngClass]="!mobileview?'desktop-row':'mobile-card-2'"><div class="card-2-12">
          <img *ngIf ="!mobileview" style="width: 95%" src = "../../../../../assets/Eat-Well.jpg">
          <img *ngIf ="mobileview" class="img-eat" src="../../../../../assets/mobile-images/Eat Well@2x.jpg">
  
      </div>
      <div class="card-2-1 spacer" [ngClass]="!mobileview?'':'align-center'"> 
          <h3 class="card-header">EAT WELL</h3>
          <p>Learn how heart-healthy choices can help <br>lower your risk of heart disease and stroke<br> whether eating at home or dining out.</p>
          <h4  class="red-color" (click)= "changecontent('eatwell')">Read More ></h4>
          </div></span>

          <span class="card-2 pad" [ngClass]="!mobileview?'desktop-row':'mobile-card-2-rev'">
          <div class="card-2-1 spacer" [ngClass]="!mobileview?'':'align-center'"> 
              <h3 class="card-header">GET MOVING</h3>
          <p>Learn the benefits of healthy activity, and <br> get tips on adding more exercise into<br>
             your daily routine.</p>
             
          <h4 class="read-more red-color"  (click)= "changecontent('physicalactivity')">Read More ></h4>
              </div>
              <div class="card-2-12">
                  <img *ngIf ="!mobileview" style="width: 95%" src="../../../../../assets/get-moving.jpg">
                  <img *ngIf ="mobileview" class="img-eat" src="../../../../../assets/mobile-images/get-moving@2x.jpg">
          
              </div>
            </span>

              <span class="card-2 pad" [ngClass]="!mobileview?'desktop-row':'mobile-card-2'"><div class="card-2-12">
                  <img *ngIf ="!mobileview" style="width: 95%" src="../../../../../assets/body-weight.jpg">
                  <img *ngIf ="mobileview" class="img-eat" src="../../../../../assets/mobile-images/body weight 2@2x.jpg">
          
              </div>
              <div class="card-2-1 spacer" [ngClass]="!mobileview?'':'align-center'"> 
                  <h3 class="card-header">MAINTAIN HEALTY WEIGHT</h3>
          <p>Learn the basic principles of a healthy <br>weight and waistline — and why it matters.</p>
          <h4 class="red-color"  (click)= "changecontent('healthyweight')">Read More ></h4>
                  </div></span>

                  <span class="card-2 pad" [ngClass]="!mobileview?'desktop-row':'mobile-card-2-rev'">
                      <div class="card-2-1 spacer" [ngClass]="!mobileview?'':'align-center'"> 
                          <h3 class="card-header">GET MOVING</h3>
                      <p>Learn the benefits of healthy activity, and <br> get tips on adding more exercise into<br>
                         your daily routine.</p>
                      <h4 class="red-color"  (click)= "changecontent('stresshandle')">Read More ></h4>
                          </div>
                          <div class="card-2-12">
                              <img  *ngIf ="!mobileview" style="width: 95%" class="img" src="../../../../../assets/stress.jpg">
                              <img  *ngIf ="mobileview"  class="img" src="../../../../../assets/mobile-images/stress copy@2x.jpg">
                          </div>
                        </span>
  
      </div>
      
</div>
<div class="foot-card">
    <!-- <app-header id="header" (valueClick)="getvalue($event)" ></app-header> -->
    <app-contactus id="contact_us"  [mobileview]="mobileview" ></app-contactus>
    <app-address style="background-color:#D92A2A;" id="address" [mobileview]="mobileview" ></app-address>
</div>
</div>




