@import '../../../../../mixin.scss';
// @import '../../../../../common.scss';
.container{
    font-family: Poppins;
    background:#F1F1F1;
    flex-direction: column;

    .bold{
        font-family: poppins-bold;
    }
    .red{
        color:#D92A2A;

    }
    .pad{
        padding: 0% 8%;
    }
    .img{
        width: 80%;
    }
    .card-header{
        font-family: poppins-bold;
        @include fluid-type(font-size, 700px, 1620px, 1.4em, 2.5em);
        margin-bottom: 0;
    }
    h2{
        font-size: 2.5em;
        font-family: poppins;
    }
    h4 {
        margin-bottom: 0;
        @include fluid-type(font-size, 600px, 1620px, 1.4em, 2em);
    }
    p { 
        font-family: poppins-regular;
        // font-size: 1.3em;
        @include fluid-type(font-size, 600px, 1620px, 1em, 1.6em);
        // font-family: poppins;
        // font-size: 1.3em;
     }
    .header{
        flex: 1;
        padding-top: 5%;
        display: flex;
        font-size: 2.4em;
        padding-left: 10%;
        background:#D92A2A;
        font-family: Poppins;
        font-weight: 900;
        color: white;
    }
    .img{
        padding-right: 3%;
        width: 100%;
        // width: 25em;
        // height: 20em;

    }
    .container-change{
        line-height: 2;
        background: #ffffff;
        // padding: 0% 8%;

    }
    .img-eat{
        width: 100%
    }
    .white{
        background: white;
    }
    .full-card{
        flex: 2;
        display: flex;
        flex-direction: column;
        .card-2{
            display: flex;
            flex: 1;
            margin-bottom: 30px;
            flex-wrap: wrap;
            flex-direction: row;
            .card-2-1{
                display: flex;
                flex-direction: column;
                flex: 1;
            }
            .card-2-12{
                display: flex;
                flex-direction: column;
                flex: 1;
            }
        }
        .card-1{
            flex-wrap: wrap;
            flex-direction: column;
            flex: 1;
     
             
            background: #F1F1F1;
        }
        .spacer{
            padding-left: 10%;

        }
        .padding-bar{

            padding: 0% 15%;
        }
        .padding-bar-d{

            padding: 0% 8%;
        }
        .card-desc{
            background: red;
            flex: 1;
            
            display: flex;
        }
        
    }
}
.separate-header{
    display: flex;
    flex-direction: row;
}
.left-head{
    font-size: 4em;
    font-family: poppins-regular;
    margin-right: 28px;
    color: red;
    margin-top: 0;
}
.small-head{
    font-size: 2em;
    margin:0;
}

// #contact_us{
//     display: flex;
//     flex: 1;
// }
// #address{
//     display: flex;
//     flex: 1;
// }
// #header{
//     display: flex;
//     flex:1;
// }
