@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
  }
  
  @mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
    @each $property in $properties {
      #{$property}: $min-value;
    }
  
    @media screen and (min-width: $min-vw) {
      @each $property in $properties {
        #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
      }
    }
  
    @media screen and (min-width: $max-vw) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
  
  .container{
    background-color: white;
    display: flex;
    width: 98%;
    margin: 1px;
    box-shadow: 0px 0px 6px #00000029;
    max-height: 281px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.header{
text-align: center;
font-size: 16px;
letter-spacing: 0;
font-family: poppins;
color: #D60F1B;
text-transform: uppercase;
opacity: 1;
}
.description{
    width: 71%;
    text-align: center;
    @include fluid-type(font-size, 300px, 1800px, 5px, 15px);


}
.btn{
    text-align: center;
    background-color: #D60F1B;
    border-radius: 59px;
    border: none;
    color: white;
    height: 28px;
    width: 100px;
}
.img{
  width: 30%;
  display: flex;
  align-items: center;
}