@import '../../../../../mixin.scss';
@import '../../../../../common.scss';

  .card-container{
    background-color: #fbfbfb;
    display: flex;
    margin: 0.4em;
    @include fluid-type(height, 600px, 1500px, 18em, 25em);
    margin-left: 0.4em;
    padding: 1em;
    flex: 1;
    box-shadow: 0px 0px 6px #00000029;
  
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.int-width-height{

     @include fluid-type(height, 600px, 1900px, 250px, 400px);
    //  @include fluid-type(width, 600px, 1900px, 210px, 400px);
}

.div-header{
text-align: center;
@include fluid-type(font-size, 600px, 1500px, 1em, 1.4em);
letter-spacing: 0;
width: 100%;
font-family: poppins-bold;
color: #D60F1B;
text-transform: uppercase;
opacity: 1;
}
.div-description{
    width: 100%;
    @include flexbox();
    font-family: poppins-regular;
    text-align: center;
    flex: 1;
    align-items: center;
    color: #000000;
    justify-content: center;
    @include fluid-type(font-size, 600px, 1500px, .7em, 1em);


}
.int-card{
  // width: 14.5em;
  height: 23em;
}
.num-4{
  padding: 0.2em;
  line-height: 1.5;

  // @include fluid-type(height, 300px, 1900px, 80px, 580px);
  // @include fluid-type(width, 300px, 1900px, 80px, 280px);
  

}
.img{
  width: 8em;
  height: 8em;
  
  // @include fluid-type(width, 300px, 1920px, 40px, 180px);
  
  // @include fluid-type(height, 300px, 1920px, 40px, 180px);
  
  align-items: center;
}