<div class="container" *ngIf="LoadAnimationCard =='animation-card'">
    
       <img   *ngIf="img" class="img" src={{cardData.imgsrc}}>
       <!-- <video  *ngIf="!img"  class="img" autoplay loop >
          <source src="{{cardData.imgsrc}}" type="video/mp4">
          
        </video> -->
        
    
  <div class="div-header">{{cardData.title}}</div>
  <div class="div-description">{{cardData.description}}</div>
  <div class="btn"><button class="btn" (click) = "creadtedb(cardData)">{{cardData.option}}</button></div>
</div>

<div  class="container" *ngIf="LoadAnimationCard =='interventual-card'">
  <div class="div-header">{{cardData.title}}</div>
  <div class="div-description">{{cardData.description}}</div>
  <div class="btn"><button class="btn" (click) = "creadtedb(cardData)">{{cardData.option}}</button></div>
</div>
<div class="container"  *ngIf="LoadAnimationCard =='service-card'" [ngStyle]="{'background' : 'transparent', 'box-shadow': 'none' }">
    
  <img class="img" src={{cardData.imgsrc}}>

  
<div class="div-header">{{cardData.title}}</div>
<div class="div-description">{{cardData.description}}</div>
</div>
