@import '../../../mixin.scss';
@import '../../../common.scss';

.background {
    background-color: #D92A2A;
    width: auto;
}
.height-auto{
    height: auto;
}
.input-form{
    @include flexbox;
    @include flex-direction(column);
    @include flex(1);

}
.align-t-center{
    text-align: center;
}
.lineheight{
    line-height: 1.2;
}
.disabled{
    outline: none;
    cursor: no-drop;
   
}
.enabled{
    outline: none;
    cursor: pointer;
   
}

.line{
    width: 100%;
}
.error{
    color: #F1F1F1;
    font-family: poppins;
}

::placeholder {
    color: #F1F1F1;;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #F1F1F1;;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #F1F1F1;;
  }

.text-box{
    border-style: none;
    background: #D92A2A;
    outline: none;
    margin-bottom: 20px;
    @include fluid-type(height, 300px, 1920px, 16px, 36px);
    @include fluid-type(font-size, 300px, 1920px, 15px, 28px);
    padding-bottom: 10px;
    margin-top: 20px;
    color: #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
}
.mobile-input{
    flex-direction: column;
    width: 70%;
}
.input-data{
    width: 100%;
    font-size: 1em;
    @include flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.align-center{
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}
.b-margin{
    margin-bottom: 100px;
}
.full-w{
    width: 100%;
}
.full-w-n{
    width: 78%;
}

.address-bar{
    width: 139%;
    margin-left: -19.5%;
}

.submit-btn{
    width: 100%;
    outline: none;
    display: flex;
    margin-top: 3%;
    margin-bottom: 8%;
}

.contact-btn{
    text-align: center;
    background-color: #F1F1F1;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 0 , 10px;
    width: 7em;
    letter-spacing: 1px;
    @include fluid-type(font-size, 600px, 1920px, 1.1em, 1.9em);
    
    font-weight: 600;
    width: auto;
    outline: none;
    /* padding-left: 1em; */
    padding: 0 2em;
    @include fluid-type(height, 300px, 1920px, 2.6em, 2.6em);
    
    color: #D92A2A;
}
