@import '../../../../mixin.scss';
@import '../../../../common.scss';

.container{
    display: flex;
    padding: 5% 8%;
    background-size: cover;
    
  //@include fluid-type(background-position-x, 300px, 1920px, -55px, 0px);
  opacity: 0.9;
//   background-size: 100vw  90vh;
  // background-image: "../../../../assets/images/frontiers1a.jpg";
   background-repeat: no-repeat;
   //background: transparent;
//    position: absolute;
   z-index: 1;
   background-position-x: center;
   height: -webkit-fill-available;
    flex-direction: column;
    justify-content: space-between;
    background-color:white;
    

}
.div--conatiner{
  background: url("../../../../assets/frontiers1.jpg");
  background-repeat: no-repeat;
  background-color:white;
  height: auto;

}
// @media screen and (max-width: 1000px) {
//     .container {
//       background-color: green;

//     }
//   }

//   @media screen and (max-width: 600px) {
//     .container {
//       background-color: red;
      
//     }
//   }
.intro-content{
display: flex;
flex:2;
z-index: 1;
flex-direction: column;
justify-content: center;
// align-items: center;

}

// .description{
//     width: 50%;
//     justify-content: center;
//     font-family: poppins-regular;
//     letter-spacing: 0;
//     color: #D92A2A;
//     opacity: 1;


// }
.procedure-card{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.div-card{
    display: flex;
    flex: 2;
    z-index: 1;
    
    font-family: poppins;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}