@import '../../../../../mixin.scss';
@import '../../../../../common.scss';

.background{
    background-color:white;
    
}
.intro-content{
    @include flexbox;
    @include flex-direction(column);
    @include flex(1);
    @include justify-content(center);
    @include flex-wrap(wrap);
}

.mobile-header{
    text-align: left;
    font-weight: bold;
    @include fluid-type(font-size, 200px, 600px, 16px, 33px);
    font-family: poppins;
    letter-spacing: 0;
    width: 40%;
    color: #D92A2A;
    opacity: 1;
    }

.mobile-description {
    width:100%;
    margin-top: 14px;
    @include justify-content(center);
    font-family: poppins-regular;
    @include fluid-type(font-size, 200px, 600px, 12px, 16px);
    letter-spacing: 0;
    color: #D92A2A;
    opacity: 1;

}
.description{
    width: 75%;
    margin-top: 14px;
    @include justify-content(center);
    flex: 0.5;
    font-family: poppins-regular;
    line-height: 2;
    @include fluid-type(font-size, 600px, 1920px, 14px, 25px);
    letter-spacing: 0;
    margin-bottom: 2%;
    color: #D92A2A;
    opacity: 1;

}
.procedure-card{
    @include flexbox;
    @include flex-direction(row);
    @include flex(1);
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
}
.div-card{
    @include flexbox;
    @include flex-direction(row);
    margin-top: 5%;
    @include flex(1);
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    font-family: poppins;
    
}
.mobile-view::-webkit-scrollbar { 
    display: none; 
} 

// .mobile-view {
//     display: flex;
//     flex: 0 0 auto;
//     overflow-x: auto;
//     overflow-y: hidden;
//     flex-wrap: nowrap;
// }

