@import '../../../../../mixin.scss';
@import '../../../../../common.scss';

.background{
    background-color:white;
}
.intro-content{
    @include flexbox;
    @include flex-direction(column);
    @include flex(2);
    @include justify-content(center);
    @include flex-wrap(wrap);
}

.description{
    width: 50%;
    margin-top: 14px;
    @include justify-content(center);
    font-family: poppins-regular;
    @include fluid-type(font-size, 200px, 1200px, 10px, 20px);
    letter-spacing: 0;
    color: #D92A2A;
    opacity: 1;


}
.procedure-card{
    @include flexbox;
    @include flex-direction(row);
    @include flex(1);
    @include justify-content(space-around);
    @include flex-wrap(wrap);
}
.div-card{
    @include flexbox;
    @include flex-direction(row);
    @include flex(2);
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
    font-family: poppins;
    
}

