<div class="background" [ngClass]="!mobileview?'container':'mobile-container'" >
    <div [ngClass]="!mobileview?'intro-content':'mobile-intro-content'">
      <div [ngClass]="!mobileview?'header':'header mobile-red-header'">Make an <br> appointment</div>
      <div>
      <div style="color: black;"  [ngClass]="!mobileview?'black description half-desc':'  mobile-description'">
          Get instant access to world-class cardiac care.
          </div>
          
          <div  [ngClass]="!mobileview?' red description font half-desc':'mobile-description font-m'">
              If you are having an emergency, please call 102 or our emergency unit at +91 9347 830 894 | 0877 -2272666 immediately.
              </div>
            </div>
    </div>
         <div *ngIf="!mobileview" class="div-card " >
  <app-procedure-card class="procedure-card flex" *ngFor="let item of BookingArray1 " [cardData]="item"  [LoadAnimationCard] = "LoadAnimationCArd"></app-procedure-card>
  </div>

  <div *ngIf="mobileview"  class="mobile-view">
    
      <app-mobilecard   [cardData]="BookingArray1[index]" (valueClick)= "getNext($event, index, BookingArray1)"  [LoadAnimationCard] = "LoadAnimationCArd"></app-mobilecard>
      
    </div>
    <span *ngIf="mobileview" class="dot-flex" ><h1 class="dot"    *ngFor= " let item of intdotarray let j = index;"  (click)="setService(j)" [ngClass]="{'highlight': index === j } ">{{item}}</h1>
    </span>
</div>

