@import './mixin.scss';

.container{
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between); 
    padding: 5% 8%;
    @include fluid-type(height, 300px, 1920px, 100vh, 100vh);
    //height: auto;
    //@include fluid-type(height, 300px, 1920px, 468px, 900px);
}

.mobile-container{
    @include flexbox;
    @include flex-direction(column);
    align-items: center;
    @include justify-content(space-between); 
    padding: 5% 5%;
    background-color: #D92A2A;
    height: auto;
    // @include fluid-type(height, 200px, 1920px, 568px, 1080px)
}


.padder{
    padding: 5% 8%;
} 

.mobile-view::-webkit-scrollbar { 
    display: none; 
} 

.intro-content{
    display: flex;
    flex:2;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
}

.mobile-intro-content{
    @include flexbox;
    align-items: center;
    text-align: center;
    @include flex-direction(column);
    @include justify-content(space-evenly);
    @include flex(0.8);
}

.header{
    @include flexbox;
    @include flex(1);
    text-align: left;
    @include fluid-type(font-size, 300px, 1920px, 25px, 70px);
    margin-bottom: 0.5em;
    line-height: 1.2;
    font-family: poppins-bold;
    letter-spacing: 0;
    @include align-items(center);
    letter-spacing: 0;
    color: #D92A2A;
    opacity: 1;
}

.mobile-red-header{
    width: auto;
    line-height: 1.2;
    text-align: center;
    font-size: 2.5em;
}

.black{
    color: black;
    @include flex(0.2);
}
.div-card{
    @include flexbox;
    @include flex(0.9);
    font-family: poppins-medium;
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(flex-start);
    padding-bottom: 5px;
}

  

    .mobile-view {
        display: flex;
        // max-width: 20em;
        flex: 0 0 auto;
        height: 20em;
        width: 20em;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
    }

   

        .white{
            color: #FFFFFF;

        }

        .description{
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(center); 
            width: 75%;
            font-family: poppins-regular;
            margin-top: 10px;
            line-height: 1.4;
            font-size: 1.1em;
            margin-bottom: 1em;  
            letter-spacing: 0;
            opacity: 1;
        
        } 

        .no-margin{
            margin: 0;
        }

        .btn{
            text-align: center;
            background-color: #D60F1B;
            border-radius: 59px;
            border: none;
            font-size: 1.1rem;
            @include fluid-type(height, 300px, 1920px, 18px, 50px);
            @include fluid-type(width, 300px, 1920px, 60px, 160px);
            color: white;
            
        }

        .text-box{
            border-style: none;
            background: #D92A2A;
            outline: none;
            margin-inline-end: 4%;
            margin-bottom: 20px;
            @include fluid-type(height, 300px, 1920px, 16px, 36px);
            @include fluid-type(font-size, 300px, 1920px, 15px, 26px);
            //font-size: 16px;
            padding-bottom: 10px;
            color: #F1F1F1;
            border-bottom: 1px solid #F1F1F1;
        }

       
        

        .padding-style{
            padding-bottom: 10px;
            padding-top: 10px;
        }