@import './mixin.scss';

.container{
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between); 
    padding: 5% 14%;
    height: 100vh;
    //@include fluid-type(height, 300px, 1920px, 468px, 900px);
}
.mobile-container{
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(space-between); 
    padding: 5% 5%;
    background-color: #D92A2A;
    height: 100vh
    // @include fluid-type(height, 200px, 1920px, 568px, 1080px);
}
.mobile-view::-webkit-scrollbar { 
    display: none; 
} 

.header{
    text-align: left;
    @include fluid-type(font-size, 200px, 1200px, 20px, 43px);
    font-family: poppins-bold;
    letter-spacing: 0;
    width: 40%;
    color: #D92A2A;
    opacity: 1;
    }

    .mobile-view {
        display: flex;
        max-width: 20em;
        flex: 0 0 auto;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
    }

    .red-header{
        @include flexbox;
        text-align: left;
        @include fluid-type(font-size, 200px, 1200px, 20px, 43px);
        font-family: poppins-bold;
        letter-spacing: 0;
        width: 50%;
        @include flex(1);
        color: #FFFFFF;
        opacity: 1;
        }

        .red-description{
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(center); 
            width: 75%;
            font-family: poppins-regular;
            margin-top: 10px;
            line-height: 24px;
            @include fluid-type(font-size, 200px, 1200px, 10px, 20px);
            margin-bottom: 50px;
            @include flex(0.5);
            @include align-items(center);
            letter-spacing: 0;
            color: #FFFFFF;
            opacity: 1;
        
        }

        .no-margin{
            margin: 0;
        }

        .btn{
            text-align: center;
            background-color: #D60F1B;
            border-radius: 59px;
            border: none;
            @include fluid-type(font-size, 300px, 1200px, 10px, 20px);
            @include fluid-type(height, 300px, 1200px, 10px, 37px);
            @include fluid-type(width, 300px, 1200px, 60px, 120px);
            color: white;
            
        }