<div class="container">
  <div class="head-image">
  <h1 class="h1" style="font-size: 3.2em; color: #ffffff; flex:2; font-family: poppins-bold;">Lorem ipsum dolor sit <br> amet no sea consetetur</h1>
    <img class="img"  style="margin-bottom: -33px;
    width: 500px;
    z-index: 1000; flex:1" src="../../../../assets//images/Group 4488.svg">
  </div>
  <div class="desc">
    <h2 class="h1">What all tests are included in master cardiac check-up?</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor<br>
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et<br>
       accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
       <hr>
    <h2 class="h1">How often should I get cardiac check-up done?</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor<br>
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et<br>
       accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>  

    <h2 class="h1">Are home care services available at VCC?</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor<br>
       invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et<br>
        accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
        <hr >
    <h2 class="h1">What is heart failure?</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor<br>
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et<br>
       accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
       <hr >
    <h2 class="h1">How often should I get cardiac check-up done?</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor<br>
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et<br>
       accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
       <br>
      </div>
      <app-contactus id="contact_us"  [mobileview]="mobileview" [halfview] ="halfview"></app-contactus>
<app-address [mobileview]="mobileview" ></app-address>
<!-- <app-header id="header" (valueClick)="getvalue($event)" ></app-header> -->
<!-- <app-footer class="address-bar" [mobileview]="true"></app-footer> -->
</div>
