.container{
    font-family: Poppins;
    display: flex;
    width: 100vw;
    padding: 0% 10%;
    height: 100vh;
    flex-direction: column;
}
.h1{
    color: red;
}
.head-image{
    display: flex;
    flex-direction: row;
}