@import '../../../mixin.scss';
@import '../../../common.scss';

  .container{
      outline: none;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: column;font-family: poppins-light;
    line-height: 1.4;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: #D92A2A;
   // @include fluid-type(height, 400px, 1920px, 200px,78px);
    z-index: 1000;
    opacity: 1;

    p{
        font-family: poppins-regular;
    }
    a{
        text-decoration: none;
    }
    .mob{
        font-family: poppins;
        outline: none;
            letter-spacing: 0;
            font-weight: 100;
            color: #FFFFFF;
            opacity: 1;
        font-size: 30px;
    padding-top: 20px;
    }
    .col{
        flex-direction: column;
    }
    .highlight{
        color: black;
      }
    .row{
        flex-direction: row;
    }
    .right-bar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex: 1;


        .nav-option{

                @include fluid-type(font-size, 200px, 1920px, 7px,28px);

                outline: none;

            font-family: poppins;
            letter-spacing: 0;
            font-weight: 100;
            color: #FFFFFF;
            opacity: 1;
        }
    }

}

.mobile-container{

}
.ad-bar{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content1{
    font-family: poppins-regular;
    font-size: 14px;
    margin: 20px;
    color:  rgb(240, 240, 240);
    text-align: center;
}
.content{
    margin: 20px 0px;
}
p{
    color: #FFFFFF;
    text-align: center;
    font-family: poppins;
}