<div class="" [ngClass] = "!mobileview?'container padder':'container'" >
          <div class="right-bar">
            <div class="nav-option">Appointment</div>
            <div class="nav-option">Services</div>
            <div class="nav-option">About</div>
            <div class="nav-option">Get Healthy</div>
            <div class="nav-option">FAQ</div>
            <div class="nav-option">Contact Us</div>
          </div>
          <p>Vasu Cardiac Care © 2019 All rights reserved</p>
          <p>Like what you see? Site designed & developed by Kurage</p>

          <!-- <div class="ad-bar">
              <p class="content content1"> Vasu Cardiac Care © 2019 All rights reserved</p>
              <p class="content1 "> Like what you see? Site designed & developed by Kurage</p>
          </div> -->
      </div>
