@import '../../../../mixin.scss';
@import '../../../../common.scss';

.container{
    display: flex;
    flex-direction: row;
    background-color: #D92A2A;
    flex-direction: row;
    margin-bottom: 100px;

}
.col-d{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #D92A2A;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: column;

}


.img-animation{
    width: 100%;
    margin-top: 50px;
display: flex;
justify-content: center;
align-items: center;
flex: 1;
}
.Address-content{
    background: #D92A2A;
    height: auto;
}
.content{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    line-height: 23px;
    -webkit-box-flex: 1;
    align-items: flex-start;
    flex: 1;
    padding-top: 10%;

    .heading{
        flex: 0.5;
        text-align: left;
        font-family:  poppins-extrabold;
        font-size: 4em;
        align-items: center;
        letter-spacing: 0;
        color: #F1F1F1;
        opacity: 1;
    }
}
.description{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    @include fluid-type(font-size, 700px, 1920px, 1em, 1.5em);
}
.img{
    height: 30px;
    margin-right: 50px;
}
.flex-center{
    justify-content: space-around;
}
.social{
    height: 20px;
}


.icons{
    height: 20px;
    display: flex;
    width: 76%;
    justify-content: space-evenly;
    flex-direction: row;
}

.ad-header{
    flex: 0.5;
}
.map-area{
    
    width: 100%;
    @include fluid-type(height, 300px, 1920px, 350px, 650px);
    
    //height: 100%;
    
}
.footer{
    background: #D92A2A;
}
.main-container{
    display: flex;
    background: #D92A2A;
    flex-direction: column;
}