@import '../../../../mixin.scss';
@import '../../../../common.scss';

.container{
    display: flex;
    flex-direction: row;
    background-color: #D92A2A;

    height: 550px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    padding: 15px;

}
.img-animation{
display: flex;
justify-content: center;
align-items: center;
flex: 1;
}
.Address-content{
    background: #D92A2A;
}
.content{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    height: 70%;
    margin: 7%;
    line-height: 23px;
    -webkit-box-flex: 1;
    flex: 1;
    padding-top: 10%;

    .heading{
        flex: 1;
        text-align: left;
        font-weight: bolder;
        font-family:  poppins-extrabold;
        font-size: 40px;
        width: 70%;
        letter-spacing: 0;
        color: #F1F1F1;
        opacity: 1;
    }
    .description{
        justify-content: flex-start;
        font-family: poppins-regular;
        width: 70%;
        font-size: 19px;
        letter-spacing: 0;
        color: #F1F1F1;
        opacity: 1;
        flex: 6;

    }
}
.map-area{
    width: 95%;
    height: 90%;
}
.footer{
    background: #D92A2A;
}