@import '../../../../mixin.scss';
@import '../../../../common.scss';

.container{
    display: flex;
    flex-direction: row;
    background-color: #D92A2A;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;

}
.col-d{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #D92A2A;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: column;

}


.img-animation{
display: flex;
justify-content: center;
align-items: center;
flex: 1;
}
.Address-content{
    background: #D92A2A;
    height: auto;
}
.content{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    line-height: 23px;
    -webkit-box-flex: 1;
    align-items: flex-start;
    flex: 1;
    padding-top: 10%;

    .heading{
        flex: 0.5;
        text-align: left;
        font-family:  poppins-extrabold;
        font-size: 4em;
        align-items: center;
        letter-spacing: 0;
        color: #F1F1F1;
        opacity: 1;
    }
}
.description{
    justify-content: flex-start;
}

.ad-header{
    flex: 0.5;
}
.map-area{
    
    @include fluid-type(width, 300px, 1920px, 300px, 700px);
    @include fluid-type(height, 300px, 1920px, 350px, 750px);
    
    //height: 100%;
    
}
.footer{
    background: #D92A2A;
}