<div class="Address-content"><div class="container padder">
  
  <div class="content">
    <div class="red-header"> Address</div>
    <div class="description">
      20-3-126, Leela Mahal Circle Near Reliance Digital, Tirumala Bypass Road, Tirupati Andhra Pradesh 517501
      <br><br>
      +91 9994 434 444
    </div>
  </div>
  <div class="img-animation">
    <agm-map  class="map-area"
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  >
  <!-- (mapClick)="mapClicked($event)" -->
  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>Vasu Cardiac Care</strong>
    </agm-info-window>
    
  </agm-marker>
  
  <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle> -->

</agm-map>
  </div>
  
</div>
<app-footer class="footer"></app-footer>
</div>
